"*":
  core:
    disabledPackages: [
      "outline-selection"
    ]
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "dark-side-of-the-moon-syntax"
    ]
  editor:
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 999
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "9584d98e-c58b-450b-b6d9-001d23f045d8"
  fonts:
    fontFamily: "Roboto Mono"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  pigments:
    markerType: "background"
  "sync-settings":
    _lastBackupHash: "415f75c20f0fc4a29ee725f539f83db32899d6b5"
    gistId: "2bcc22cea2acf4c2905c3c6437a31e58"
    personalAccessToken: "44fc067fe19e566d291a244e53cd269156775f11"
  welcome:
    showOnStartup: false
