"*":
  "atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    html:
      preserve_newlines: false
  "color-picker":
    preferredFormat: "HEX"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "outline-selection"
      "minimap-git-diff"
      "atom-html-preview"
      "minimap-autohide"
      "activate-power-mode"
      "markdown-scroll-sync"
      "tool-bar"
      "tool-bar-markdown-writer"
      "markdown-preview-plus"
      "markdown-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "dark-side-of-the-moon-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 999
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "9584d98e-c58b-450b-b6d9-001d23f045d8"
  fonts:
    fontFamily: "Roboto Mono"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-enhanced":
    exportPDFPageFormat: "A4"
    mermaidTheme: "mermaid.forest.css"
    openPreviewPaneAutomatically: false
    pandocPath: "C:\\Users\\Ohki\\AppData\\Local\\Pandoc\\pandoc.exe"
    pdfOpenAutomatically: false
    printBackground: false
  "markdown-writer": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "outline-selection":
    outlineColor: "#ffffff"
  pigments:
    markerType: "background"
    sortPaletteColors: "by name"
  "split-diff":
    ignoreWhitespace: true
  "sync-settings":
    _lastBackupHash: "759c4ddf7811cd5ed6b205bca91c3aed2a6fe4c2"
    gistId: "dacf2460e5b8b5daeb3e40b6196c4b66"
    personalAccessToken: "fc6660e6574cb5e2a5eb34268f38ca01a4ed819b"
  "tool-bar": {}
  welcome:
    showOnStartup: false
  wordcount: {}
